body {
    background-color: #333; /* Fondo gris oscuro */
    color: #ccc; /* Texto color claro */
    font-family: Arial, sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    margin: 0;
    padding: 20px;
    box-sizing: border-box;
}

.container {
    text-align: center;
    width: 100%;
    max-width: 1200px;
    margin: auto;
    border-radius: 15px;
    overflow: hidden;
    padding: 20px;
    box-sizing: border-box;
    background-color: #444; /* Fondo gris más oscuro */
}

h1 {
    color: #eee; /* Texto blanco */
    margin-bottom: 20px;
}

#searchInput {
    padding: 10px;
    margin-bottom: 20px;
    border-radius: 5px;
    border: none;
    width: calc(100% - 20px);
    max-width: 300px;
    box-sizing: border-box;
}

table {
    width: 100%;
    border-collapse: separate;
    border-spacing: 0;
    margin-bottom: 20px;
}

th, td {
    border-bottom: 1px solid #555; /* Línea debajo de cada fila */
    padding: 10px;
    text-align: center;
}

thead {
    background-color: #555; /* Fondo gris */
    color: #fff; /* Texto blanco */
}

tbody tr {
    background-color: #666; /* Fondo gris */
}

tbody tr:nth-child(even) {
    background-color: #777; /* Fondo gris más claro */
}

tbody tr:hover {
    background-color: #888; /* Fondo gris al pasar el cursor */
}

button {
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    background-color: rgba(255, 251, 0, 0.134);
    color: #fff;
    cursor: pointer;
}

button:hover {
    background-color: #008cff;
}

/* Consultas de medios para diferentes tamaños de pantalla */
@media (max-width: 768px) {
    th, td {
        padding: 8px;
    }
    
    #searchInput {
        width: calc(100% - 10px);
        margin-bottom: 10px;
    }
}

@media (max-width: 480px) {
    th, td {
        padding: 6px;
    }
    
    #searchInput {
        width: 100%;
    }
    
    button {
        padding: 8px 16px;
    }
    
    h1 {
        font-size: 1.5em;
    }
}
